@media (max-width: 1200px)
    .promo
        padding-left: 20px
        padding-top: 26px
        &__subheader
            margin-right: 20px
    .presentation
        margin-top: 20px
        &__content
            margin: 0 auto
            width: 90%
            height: 90%
    .goods
        margin-top: 40px
        &__wrapper
            display: grid
            justify-content: center
            grid-template: 360px / repeat(3,250px)
            grid-auto-rows: 400px
            gap: 40px
    .about
        &__wrapper
            margin-left: 10px
            margin-top: 30px
            display: grid
            grid-template: 425px / 600px auto
            column-gap: 20px
        &__text
            margin-top: 10px
            font-size: 14px
    .shop
        &__wrapper
            margin-left: 20px
            margin-top: 30px
            margin-right: 20px
            display: grid
            grid-template: auto / repeat(3,295px)
            column-gap: 30px
    .instagram
        margin-top: 70px
        &__wrapper
            display: grid
            grid-template: 440px / repeat(3,260px)
            justify-content: center
        &__item
            &-another
                display: none
    .feedback
        margin-top: 30px
        &__wrapper
            margin-top: 30px
            display: grid
            grid-template: repeat(2,auto)/repeat(1,650px)
            grid-auto-rows: 180px
            gap: 20px
            justify-content: center
    .footer
        margin-left: 20px
        margin-right: 20px
    

@media (max-width: 991px)
    .goods
        &__wrapper
            display: grid
            justify-content: center
            grid-template: 320px / repeat(3,200px)
            grid-auto-rows: 400px
            gap: 40px
    .about
        &__wrapper
            margin-left: 10px
            margin-top: 30px
            display: grid
            grid-template: repeat(1,auto)/repeat(1,600px)
            column-gap: 20px
            justify-content: center
        &__text
            margin-top: 10px
            font-size: 14px
    .shop
        margin-top: 40px
        &__wrapper
            margin-left: 20px
            margin-top: 30px
            margin-right: 20px
            display: grid
            grid-template: auto / repeat(1,455px)
            row-gap: 30px
            justify-content: center
    .call
        margin-top: 50px
        &__form
            width: 555px
            margin: 0 auto
            margin-top: 30px
            display: grid
            grid-template: repeat(2,minmax(60px, auto))/repeat(2,300px)
            grid-auto-rows: minmax(60px, auto)
            row-gap: 20px
            column-gap: 5px
            input
                &:not([type="submit"])
                    color: #9D9DAD
                    padding: 18px
                    z-index: 10
                    font-size: 13px
                &:not([type="checkbox"])
                    width: 100%
                    height: 60px
    .instagram
        margin-top: 70px
        &__wrapper
            grid-template-columns: 260px
            justify-content: center
        &__item
            &-center

            &-closest
                display: none
            &-another
                display: none
@media (max-width: 767px) 
    .menu
        display: none
    .goods
        &__wrapper
            display: grid
            justify-content: center
            grid-template: 350px / repeat(1,320px)
            grid-auto-rows: 400px
            gap: 40px
    .about
        &__wrapper
            margin-left: 10px
            margin-top: 30px
            display: grid
            grid-template: repeat(1,auto)/repeat(1,500px)
            column-gap: 20px
            justify-content: center
        &__text
            margin-top: 10px
            font-size: 14px
    .shop
        margin-top: 40px
        &__wrapper
            margin-left: 20px
            margin-top: 30px
            margin-right: 20px
            display: grid
            grid-template: auto / repeat(1,405px)
            row-gap: 30px
            justify-content: center
    .call
        margin-top: 50px
        &__form
            width: 540px
            margin: 0 auto
            margin-top: 30px
            display: grid
            grid-template: repeat(2,minmax(60px, auto))/repeat(2,250px)
            grid-auto-rows: minmax(60px, auto)
            row-gap: 20px
            column-gap: 5px
            input
                &:not([type="submit"])
                    color: #9D9DAD
                    padding: 18px
                    z-index: 10
                    font-size: 13px
                &:not([type="checkbox"])
                    width: 100%
                    height: 60px
    .feedback
        margin-top: 30px
        &__wrapper
            margin-top: 30px
            display: grid
            grid-template: repeat(2,auto)/repeat(1,550px)
            grid-auto-rows: 180px
            gap: 20px
            justify-content: center
        &__item
            grid-template: auto/60px auto
// @media (max-width: 595px)
