@import "libs/bootstrap-reboot.min"
@import "base/variables"
@import "base/animations"
*
    font-family: 'Lato', sans-serif
    margin: 0
    padding: 0

.container
    max-width: 1340px
    margin: 0 auto

a
    text-decoration: none
    color: #000
    &:hover
        text-decoration: none
        color: #000

@import "blocks/promo"
@import "blocks/presentation"
@import "blocks/goods"
@import "blocks/about"
@import "blocks/shop"
@import "blocks/call"
@import "blocks/feedback"
@import "blocks/instagram"
@import "blocks/footer"
@import "blocks/pageup"
@import "blocks/about-us"
@import "blocks/advantages"
@import "blocks/logo"
@import "blocks/menu"
@import "blocks/social"
@import "blocks/contacts"
@import "blocks/catalog"
@import "blocks/titles"
@import "blocks/buttons"
@import "blocks/stocks"
@import "blocks/delivery"
@import "blocks/questions"
@import "blocks/card"
@import "blocks/reviews"
@import "blocks/cart"
@import "blocks/reviews"
@import "blocks/favorites"
@import "base/media"

.hidden
    transition: .5s all
    opacity: 0
    transform: scale(0.6)
