.aboutus
    margin-top: 68px
    img
        margin-top: 32px
    &__wrapper
        margin: 0 auto
        display: grid
        grid-template: 1025px / 700px auto
        column-gap: 20px
    &__img
        img
            width: 1337px
            height: 700px
    &__text
        margin-top: 30px
        font-size: 17px
        width: 570px
        height: 350px
    &__subtitle
        margin-top: 68px
        font-size: 20px
        font-weight: 600
    &__name
        margin-top: 25px
        font-size: 16px
        font-weight: 600
    &__descr
        width: 553px
        height: 92px
        margin-top: 23px
    &__photo
        width: 600px
