.btn
    display: block
    width: 261px
    height: 51px
    padding: 15px 35px
    font-size: 18px
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #fff
    color: #fff
    background-color: rgba(0, 0, 0, 0.3)
