.favorites
    margin-top: 30px
    &__wrapper
        margin-top: 30px
        display: grid
        grid-template: minmax(200px,auto) / repeat(1,550px)
        grid-auto-rows: minmax(200px,auto)
        justify-content: space-around
        row-gap: 50px