.logo
    svg
        path
            transition: .5s all
    &:hover
        svg
            path
                fill: $main-color
    &-active
        svg
            path
                fill: #fff
