.menu
    list-style-type: none
    padding: 0
    margin: 0
    font-weight: 600
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(130px,1fr))
    row-gap: 20px
    &-item
        display: flex
        flex-direction: column
        a
            transition: .5s all
            &:first-letter
                text-transform: uppercase
            &:nth-child(1)
                &:hover
                    transform: translateY(-5px)
            &:not(:nth-child(1))
                font-weight: 300
                &:hover
                    transform: translateX(5px)
