.promo
    padding-top: 26px
    &-active
        background-color: #000
    &__subheader
        display: flex
        justify-content: space-between
    &__official
        width: 205px
        display: flex
        justify-content: space-between
    &__hamburger
        align-self: center
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 13px
        span
            display: block
            width: 27px
            height: 1px
            background-color: #000
        &-active
            span
                background-color: white
                &:nth-child(1)
                    transform: translateY(5px) rotate(-45deg)
                &:nth-child(2)
                    transform: translateY(-7px) rotate(45deg)
                &:nth-child(3)
                    display: none
    &__logo
        &-active
            svg
                path
                    fill: #fff
    &__social
        width: 112px
        display: flex
        justify-content: space-between
        a
            display: block
            width: 20px
            text-decoration: none
            display: flex
            align-items: center
            justify-content: center
        &-active
            svg
                path
                    fill: #fff
    &__order
        width: 250px
        display: flex
        justify-content: space-between
    &__contacts
        display: flex
        align-items: center
        a
            font-weight: bold
            text-decoration: none
            color: #000
        &-active
            a
                color: white
    &__cart, &__favorites
        &-active
            svg
                path
                    fill: black
                    stroke: #fff

    &__nav
        margin-top: 30px
        padding: 0 70px
    &__menu
        list-style-type: none
        display: flex
        justify-content: space-between
        padding: 0
        margin: 0
    &__menu-item
        a
            text-decoration: none
            color: #000
        &-active
            a
                color: #fff
    &__dropdownmenu 
        margin-top: 100px
        background-color: #000
        height: calc(100vh - 15px)
        display: none
        &-active 
            display: flex
        &-header 
            font-size: 22px
            color: #fff
        &-wrapper 
            display: grid
            grid-template: repeat(2, auto)/repeat(4,200px)
            grid-auto-rows: 120px
            column-gap: 70px
            row-gap: 40px
    &__list 
        margin: 0
        padding: 0
        list-style-type: none
        li  
            margin-top: 8px
            a 
                font-size: 19px
                color: #fff



    &__wrapper
        margin-top: 10px
        height: calc(100vh - 115px)
        background: url('../img/main_bg.jpg') center/cover no-repeat
        width: 100%
        display: flex
        align-items: flex-end
        justify-content: center
        &-active
            display: none
    &__content
        padding-bottom: 80px
    &__text
        font-weight: bold
        font-size: 36px
        text-align: center
        color: #FFFFFF
    .btn
        margin: 0 auto
        margin-top: 50px
