.questions
    margin-top: 70px
    &__wrapper
        margin-top: 31px
        display: grid
        grid-template: repeat(2,auto)/repeat(2,650px)
        grid-auto-rows: 180px
        gap: 30px
    &__item
        width: 100%
        display: grid
        grid-template: auto / 60px 550px
        column-gap: 30px
    &__content
        display: grid
        grid-template: repeat(2,auto) / repeat(2, auto)
        justify-content: space-between
        row-gap: 20px